$lato-font: 'Lato', sans-serif;
$color-primary: #fff;
$color-secondary: #efe8e8;
$color: #f83600;
$color-alt: #ffc700;
$background: linear-gradient(to right, #fe8c00, #f83600);
$background2: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
$bg: linear-gradient(to right, #1f1c2c, #928dab);
$bg2: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);