@import 'reset';


.mobile-menu {
  display: block;

  & ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 600px) {
    display: none;
  }
}

.nav__toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  width: 30px;
  height: 21px;
  cursor: pointer;
  @media (min-width: 600px) {
    display: none;
  }
}

//.hamburger-react {
//  @media (min-width: 600px) {
//    display: none;
//  }
//}

