@use "sass:color";
@import 'reset';
@import 'colors';
@import 'variables';
@import 'fonts';

$color: #f83600;
$color-alt: #ffc700;
$background: linear-gradient(to right, #fe8c00, #f83600);

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background;
  color: #fff;
  font-family: $lato-font;

  &__logo {
    font-size: 1.5rem;
    margin: 0.5rem;
    color: #fff;
    text-decoration: none;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav__menu {
  width: 70%;

  @media (max-width: 600px) {
    width: 100%;
  }
}

