@use "sass:color";
@import 'reset';
@import 'colors';
@import 'variables';
@import 'fonts';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: color.scale(#a6c1ee, $lightness: 20%);
  color: #fff;
  font-family: $lato-font;
  white-space: nowrap;

  &__mobile {
    display: flex;
    justify-content: space-between;

    &-logo {
      width: 100%;
      font-size: 1.5rem;
      margin: 0.5rem;
      color: #fff;
      text-decoration: none;
    }
  }
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__menu {
    width: 70%;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
